
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; " />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>樱花动漫－专注动漫的门户网站</title>
<meta name="keywords" content="樱花动漫,Sakura" />
<meta name="description" content="樱花动漫拥有上万集高清晰画质的在线动漫，观看完全免费、无须注册、高速播放、更新及时的专业在线樱花动漫站，我们致力为所有动漫迷们提供最好看的动漫。" />
<link href="http://js.xiaomingming.org/style.css" rel="stylesheet">

<script>
	   function play(obj){
			var link = obj.getAttribute('src');
	        var url = "player.html?link="+link; //进行拼接传值
	        location.href=url;
	    }
</script>

</head>
<body>
	
<div class="head area">
<!-- 放logo的地方,尝试使用 Img标签在此处插图-->
</div>


<div class="menu"><!--导航栏-->
  <ul class="dmx l">
    <li class="nav"><a href="/">首页</a></li>
	
    <li><a href="/list/1.html">动漫电影</a></li>

    <li><a href="/list/2.html">日本动漫</a></li>

    <li><a href="/list/3.html">国产动漫</a></li>
  </ul>
</div>

<!--图片滚动栏目,我删掉了内容-->
<div class="foucs">
  <div class="hero-wrap">
  </div>
  <div class="helper">
    <div class="mask-left"></div>
    <div class="mask-right"></div>
    <a href="javascript:void(0)" class="prev icon-arrow-a-left" target="_self"></a><a href="javascript:void(0)" class="next icon-arrow-a-right" target="_self"></a></div>
</div>

<!--内容区域-->
<div class="area">
	<!--看id 这个div是内容容器-->
  <div class="firs l" id="contrainer">
    <div class="blank"></div>
    <div class="tame">
      <h2><a href="/list/2.html">日本动漫</a></h2>
      <span><a href="/list/2.html">更多</a></span></div>
    <div class="imgs">
      <ul>
        <li><a href="player" src=""  ><img src="http://cdn.u1.huluxia.com/g4/M01/93/F8/rBAAdmAB1gqAQymIAAkGfMlcFco624.jpg" alt="工作细胞Black" /></a>
          <p><a href="#" title="工作细胞Black">工作细胞Black</a></p>
          <p>工作细胞Black</p>
        </li>


      </ul>
    </div>

    <div class="blank"></div>
    <div class="tame">
      <h2><a href="/list/3.html">国产动漫</a></h2>
      <span><a href="/list/3.html">更多</a></span></div>
    <div class="imgs">
      <ul>

      </ul>
    </div>
	

	
    <div class="blank"></div>
    <div class="tame">
      <h2><a href="/list/1.html">动漫电影</a></h2>
      <span><a href="/list/1.html">更多</a></span></div>
    <div class="imgs">
      <ul>

      </ul>
    </div>
  </div>
  
  
  	<!--看id 这个div是侧边栏容器,还是右边的,通常我们会取这样有意义的名字-->
  <div class="side r">
    <div class="bg">
      <div class="tame">
        <h2>每日更新列表</h2>
        <span><a href="#">更多</a></span></div>
      <div class="tov"><span tab="0" class="mv">周一</span><span tab="1">周二</span><span tab="2">周三</span><span tab="3">周四</span><span tab="4">周五</span><span tab="5">周六</span><span tab="6">周日</span></div>
      <div class="tists">
	  
      </div>
    </div>
    <div class="blank"></div>
	

    <div class="blank"></div>
    <div class="bg">
      <div class="tame">
        <h2>一周动漫排行榜</h2>
        <span><a href="/top/">更多</a></span></div>
      <div class="pics">
        <ul>

<!--<li><em>1.</em><a href="/view/7501.html"><img src="http://p.xiaomingming.org/FileUpload/201810418234388208.jpg" alt="东京食尸鬼第四季" /></a>-->
<!--            <h2><a href="/view/7501.html" title="东京食尸鬼第四季">东京食尸鬼第四季</a></h2>-->
<!--            <span>状态：<font color="red">12全集</font></span><span>类型：<font color="red"><a href="/search.asp?searchword=%C3%B0%CF%D5">冒险</a> <a href="/search.asp?searchword=%C6%E6%BB%C3">奇幻</a> <a href="/search.asp?searchword=%B6%AF%D7%F7">动作</a> </font></span>-->
<!--            <p>简介：《东京食尸鬼第四季》讲述即《东京食尸鬼：re第二季》制作决..</p>-->
<!--          </li>-->

        </ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>