


<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>Pilipili视频网</title>

</head>
<body >

<div id="container" style="width:100%">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">Pilipili视频网</h1>

</div>

<div id="menu" style="background-color:#FFD700;height:650px;width:10%;float:left;">
	
</div>

<div id="content" style="background-color:#EEEEEE;height:650px;width:90%;float:left;text-align:center">

<video src="https://cdn-142.anonfiles.com/7dQ884J6p9/a558ce84-1613548274/mda-maf1ve8546vumte2.mp4" controls="controls" width=800px height=600px id="video">
您的浏览器不支持 video 标签。
</video>

</div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
版权 ©</div>

</div>
 
</body>
</html>